/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #4d4e53;
    min-width: 290px;
}

a { text-decoration: none; }

/* NAV */
.nav {
    background-color: #e6e6e6;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    border-right: 1px solid;
    border-color: rgba(0,0,0,.3);

    &__header {
        color: #000;
        font-size: 1.5rem;
        margin: 10px;
        text-align: center;
    }

    &__list {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
        height: 88%;
        list-style: none;
    }

    &__item {
        color: #4d4e53;
        border-top: 1px solid;
        position: relative;
        width: 100%;

        &:hover { background-color: #f6f6f6; }

        &:hover .nav__link { color: #000; }
    }

    &-link {
        display: block;
        padding: 10px 30px;
        color: #4d4e53;
        font-size: 1.1rem;
        cursor: pointer;
    }
}

/* MAIN */
.main {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;

    & header {
        color: #000;
        text-align: left;
        font-size: 1.8rem;
    }

    &-section {
        article { margin: 15px; }

        li { margin: 15px 0 0 20px; }

        h3 {
            color: #000;
            margin: 1rem 0;
            font-weight: 500;
            font-size: 1.3rem;
        }

        code {
            display: block;
            text-align: left;
            position: relative;
            word-break: normal;
            word-wrap: normal;
            line-height: 2;
            background-color: #e6e6e6;
            padding: 15px;
            margin: 10px;
            border-radius: .3rem;
        }
    }
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 815px) {
    .nav {
        background-color: #e6e6e6;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        border-bottom: 2px solid;
        z-index: 1;

        &__list {
            border: 1px solid;
            height: 207px;
        }
    }

    .main {
        position: relative;
        margin-left: 0;
        margin-top: 270px;
    }
}
